.wrapper {
  width: 960px;
  margin: 0px auto; }
  .wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5, .wrapper h6 {
    margin-top: 4px;
    margin-bottom: 7px; }
  .wrapper .pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .wrapper .pure-g > div.padded {
      padding: 8px 10px; }
  .wrapper .pure-menu a {
    color: #515151; }
    .wrapper .pure-menu a i.fa {
      margin-right: 9px; }
  .wrapper .pure-menu .pure-menu-selected a {
    color: black; }
  .wrapper .pure-table th.vertical {
    background: #e0e0e0;
    color: black;
    text-align: left;
    vertical-align: bottom;
    border-bottom: 1px solid #cbcbcb; }
  .wrapper .pure-table i.fa.ok {
    color: #208927; }
  .wrapper .pure-table i.fa.not-ok {
    color: #C22118; }
  .wrapper .pure-table td.icon {
    text-align: center;
    vertical-align: middle;
    font-size: 19px; }
  .wrapper .pure-button.add {
    #background-color: #7ECB9A; }
  .wrapper .clickable:hover {
    background-color: #F1F1F1;
    cursor: pointer; }
  .wrapper section {
    margin-bottom: 16px; }
  .wrapper .error {
    padding: 8px 10px;
    background-color: #FFD4D4;
    border: 1px solid #ff8080;
    border-radius: 6px;
    margin-bottom: 12px; }
    .wrapper .error .title {
      font-size: 19px;
      font-weight: bold;
      margin-bottom: 5px; }
      .wrapper .error .title i {
        color: #B43636;
        vertical-align: middle; }
    .wrapper .error .message {
      font-size: 15px; }
  .wrapper .header .logo {
    margin-bottom: 8px; }
  .wrapper .pure-menu-horizontal {
    background-color: #F1F1F1;
    margin-bottom: 16px; }
    .wrapper .pure-menu-horizontal a:hover {
      background-color: #E6E6E6; }
  .wrapper .contents #form_login {
    background-color: #F1F1F1;
    padding: 12px 16px; }
  .wrapper .contents h1 {
    font-size: 25px;
    margin-top: 2px; }
  .wrapper .contents .narrow-wrapper {
    width: 420px;
    margin: 0px auto; }
  .wrapper .contents table.stretch {
    width: 100%; }
  .wrapper .contents .clickable a {
    color: inherit;
    text-decoration: inherit; }
  .wrapper .contents .submenu {
    font-size: 14px;
    margin-bottom: 4px; }
    .wrapper .contents .submenu i.fa {
      margin-right: 0px; }
    .wrapper .contents .submenu li a {
      padding: 5px 10px; }
